<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Find products in retail stores">
    <meta name="author" content="Aram Baghdassarian and Ben Newman">

    <title>Add your Store</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/grayscale.css') }}" rel="stylesheet">

    <!-- Custom Material Design Library -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-red.min.css" />
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .demo-card-wide.mdl-card {
            width: 512px;
            margin: auto;
            margin-top: 200px;
        }
        .demo-card-wide > .mdl-card__title {
            color: #fff;
            /*height: 176px;*/
        }
        .demo-card-wide > .mdl-card__menu {
            color: #fff;
        }
        h6 {
            color:gray;
        }
        input {
            color: gray !important;
        }
    </style>
    <script>
        // The Browser API key obtained from the Google Developers Console.
        var developerKey = 'AIzaSyD1tP3TVYgejPgqe8vw-JmuFkgOyl5b5gc';

        // The Client ID obtained from the Google Developers Console. Replace with your own Client ID.
        var clientId = "347332191906-dbi65cndmem0ekmn7qgcoh81rtgvu04b.apps.googleusercontent.com";

        // Scope to use to access user's photos.
        var scope = ['https://www.googleapis.com/auth/drive.readonly'];

        var pickerApiLoaded = false;
        var oauthToken;

        // Use the API Loader script to load google.picker and gapi.auth.
        function onApiLoad() {
            gapi.load('auth', {'callback': onAuthApiLoad});
            gapi.load('picker', {'callback': onPickerApiLoad});
        }

        function onAuthApiLoad() {
            window.gapi.auth.authorize(
                    {
                        'client_id': clientId,
                        'scope': scope,
                        'immediate': false
                    },
                    handleAuthResult);
        }

        function onPickerApiLoad() {
            pickerApiLoaded = true;
            createPicker();
        }

        function handleAuthResult(authResult) {
            if (authResult && !authResult.error) {
                oauthToken = authResult.access_token;
                createPicker();
            }
        }

        // Create and render a Picker object for picking user Photos.
        function createPicker() {
            console.log(pickerApiLoaded);
            console.log('dsaf');
            console.log(oauthToken);
            if (pickerApiLoaded && oauthToken) {
                var picker = new google.picker.PickerBuilder().
                addView(google.picker.ViewId.SPREADSHEETS).
                setOAuthToken(oauthToken).
                setDeveloperKey(developerKey).
                setCallback(pickerCallback).
                build();
                picker.setVisible(true);
            }
        }

        // A simple callback implementation.
        function pickerCallback(data) {
            var url = 'nothing';
            if (data[google.picker.Response.ACTION] == google.picker.Action.PICKED) {
                var doc = data[google.picker.Response.DOCUMENTS][0];
                url = doc[google.picker.Document.URL];
            }
          	var message = 'You picked: ' + url;
	  		//$(document).ready(function(){
	    	//$("#result").text(message);
            //document.getElementByClassName('result').innerHTML = message;
	    	$('.result').text(message);
	    	//$('#resultTest').val(url);
	    	//$('#resultText').text(url);
	    	$.ajax({
				url: '/urlsent',
				type: 'POST',
				contentType: 'application/json',
				data: JSON.stringify({
					sheetURL: url
				}),
				dataType: 'json',
				success: function(doc) {
					console.log("It worked");
				}
	    	})
	    
        }
    </script>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }} </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <i class="glyphicon glyphicon-shopping-cart"></i>  <span class="light">Retail</span> Trail
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a href="/index.html">Home</a>
                </li>
                <li>
                    <a href="/addStore.html">Add a store</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <!--<li>-->
                <!--<a class="page-scroll" href="#download">Download</a>-->
                <!--</li>-->
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <li>
                    <a><div id="custom-search-input" style="width:200px;">
                        <div class="col-md-3 input-group" style="width:100%;margin-top:-6px;">
                            <input type="text" class="search-query form-control" placeholder="Search" />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                        </div>
                    </div></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>



<!-- Form Section -->
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text" style="color:gray;">Welcome</h2>
        </div>
        <!--Start-->
        <div class="mdl-card__supporting-text">
            Once you fill out this form, we will begin to add your inventory to our database.
        </div>
        <form style="margin-left:20px;" action="" method="post" id="addStoreForm">
	  {{ form.hidden_tag() }}            
	  <!-- About the person signing up -->
            <h6 style="margin-top:10px;margin-bottom:-5px;">About you</h6>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              {{ form.bossName(class_="mdl-textfield__input", id="personName") }}
	      <br/>
	      {% for error in form.bossName.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br>
	      <!--input class="mdl-textfield__input" type="text" id="personName" name="personName">-->
                <label class="mdl-textfield__label" for="personName">First and Last Name</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	      {{ form.bossEmail(class_="mdl-textfield__input", id="personEmail")}}
	      <br/>
              {% for error in form.bossEmail.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br>
                <!--input class="mdl-textfield__input" type="text" id="personEmail" name="personEmail"-->
                <label class="mdl-textfield__label" for="personemail">Your email</label>
            </div>

            <!-- About retail store -->
            <h6 style="margin-top:10px;margin-bottom:-5px;">About your retail store</h6>
            <fieldset>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	      {{ form.name(class_="mdl-textfield__input", id="storeName") }}
	      <br/>
              {% for error in form.name.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br>
                <!--input class="mdl-textfield__input" type="text" id="storeName" name="storeName"-->
                <label class="mdl-textfield__label" for="storeName">Store Name</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	      {{ form.streetAddress(class_="mdl-textfield__input", id="streetAddress") }}
	      <br/>
              {% for error in form.streetAddress.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br>
                <!--input class="mdl-textfield__input" type="text" id="streetAddress" name="streetAddress"-->
                <label class="mdl-textfield__label" for="streetAddress">Street Address</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	      {{ form.city(class="mdl-textfield__input", id="city") }}
	       <br/>
              {% for error in form.city.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br>
                <!--input class="mdl-textfield__input" type="text" id="city" name="city"-->
                <label class="mdl-textfield__label" for="city">Town/City name</label>
            </div>
	    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	      {{ form.state(id="state") }}
	       <br/>
              {% for error in form.state.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br>
              <!--input class="mdl-textfield__input" type="text" id="zip" name="zip" pattern="-?[0-9]*(\.[0-9]+)?"-->
              <!--label class="mdl-textfield__label" for="state">State</label-->
              <!--span class="mdl-textfield__error">Input is not a number!</span-->
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	      {{ form.zipCode(class_="mdl-textfield__input", id="zip") }}
	       <br/>
              {% for error in form.zipCode.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br>
                <!--input class="mdl-textfield__input" type="text" id="zip" name="zip" pattern="-?[0-9]*(\.[0-9]+)?"-->
                <label class="mdl-textfield__label" for="zip">Zip code</label>
                <!--span class="mdl-textfield__error">Input is not a number!</span-->
            </div>
            </fieldset>
            <!-- About their inventory -->
            <h6>About your inventory</h6>
            <div class="mdl-card__supporting-text">
                Please select your Google Spreadsheet containing a list of all the products you sell in your store. The products do
                not have to currently be in stock, but must be items that are repeatedly restocked. Including the price is optional.
                <br>Below is an example of what this spreadsheet could look like.
                <!--Image-->
                <img src="../static/img/inventoryExample.png" alt="An example of an inventory file" style="margin-top:5px;">
                <br>In addition to selecting your file, please be sure to share the file with abagh0703@gmail.com
                (the level of access does not matter)
                <br><button type="button" id="chooseSpreadsheet" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                    <i class="material-icons">add</i>
                </button>
				<span color=red>{{ errorMessage }}</>
                <div class="result"></div>
	
		<!--p id="resultTest"></p-->
            <div class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
			{{ form.isHeading(id = "isHeading", class_="mdl-checkbox__input") }}
                <label class="mdl-checkbox__label" for="isHeading" style="color:gray">
                	Use First Row as Headings</label>
            </div>
            <!--end of fields-->
            <div class="mdl-card__actions mdl-card--border">
                <button id="addStoreFormSubmit" form="addStoreForm" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Submit
                </button>
                
            </div>
        </form>
    </div>
<!-- /card -->




<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; Retail Trail 2016</p>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>

<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ url_for('static', filename='js/grayscale.js') }}"></script>

<script type="text/javascript">
    console.log('hello');
    $('#addStoreFormSubmit').click(function(){
        $('#addStoreForm').submit();
    });
    $('#chooseSpreadsheet').click(function(){
            var s = document.createElement("script");
            s.type = "text/javascript";
            s.src = "https://apis.google.com/js/api.js?onload=onApiLoad";
            // Use any selector
            $("head").append(s);
    })
</script>

</body>

</html>
