<div class="demo-card-wide mdl-card mdl-shadow--2dp storeResult" style="min-height:75px;">
    <table style="width:99.2%;"><tr><td style="padding-top:10px;"><span class="storeName">{{ loc[0] }}</span></td><td style="padding-top:10px;" align="right"><span class="mdl-card__supporting-text distance">
        distance to location supported soon
    </span>
    </td></tr></table>
    <span class="itemName mdl-card__supporting-text storeAddress">{{ loc[3] }}, </span><span class="storePrice">${{ loc[2] }}</span>
    
    <span class="mdl-card__supporting-text storeAddress">
        {{ loc[1] }}
    </span>
    <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
        <!--<a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect">-->
            <!--Get Started-->
        <!--</a>-->
    <!--</div>-->
    <!--<div class="mdl-card__menu">-->
        <!--<button class="mdl-button mdl-button&#45;&#45;icon mdl-js-button mdl-js-ripple-effect">-->
            <!--<i class="material-icons">share</i>-->
        <!--</button>-->
    <!--</div>-->
</div>